.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h2{
    color: gray;
    padding: 5px;
}