.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
h4{
    color: rgb(92, 91, 91);
}
label{
    margin: 5px;
    color: rgb(92, 91, 91);
}
button{
    border: 2px solid white;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    color: rgb(92, 91, 91);
}
select{
    width: 70px;
}
.subContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 3px solid lightgray;
    border-radius: 10px;
    width: 80vw;
}